Flask
gunicorn
python-dotenv
supabase
reportlab
python-docx
Werkzeug

# AI speech-to-text
openai-whisper
numpy

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu

# HTTP LLM API
requests

# audio processing dependencies (required by whisper internally)
ffmpeg-python
soundfile
pydub
