body {
    background-color: var(--bg-light);
    font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.form-container {
    background: #f9f4f4;
    padding: 2px 45px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(18, 17, 17, 0.793);
    width: 92%;
    max-width: 450px;
}

.main-title {
    color: #0c9fee;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 8px;
}

.subtitle {
    text-align: center;
    color: #777;
    font-size: 14px;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #666;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #e1e5ee;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.input-group input:focus {
    outline: none;
    border-color: #0c9fee;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.btn-primary {
    width: 100%;
    background-color: #0c9fee;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.footer-link {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    color: #444;
}

.footer-link a {
    color: #0c9fee;
    text-decoration: none;
    font-weight: 600;
}